{% extends 'core/base.html' %}

{% block titulo %}Bienvenido al sitio{% endblock titulo %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6">
            Hola mundo
        </div>
        <div class="col-12 col-lg-6">
            <h2>Iniciar Sesión</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Entrar</button>
            </form>
        </div>        
    </div>
</div>
{% endblock body %}