{% extends 'core/base_home.html' %}

{% block titulo %}Registro de Sesión{% endblock titulo %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-12 mb-3">
            <button class="btn btn-outline-primary">Solicitar sesion</button>
        </div>
        <div class="col-12">
            <div class="card shadow rounded">
                <div class="card-header bg-secondary text-white">
                    Datos del Tutor
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <strong>Nombre:</strong> {{ tutor.usuario.nombres }} {{ tutor.usuario.apellido_paterno }} {{ tutor.usuario.apellido_materno }}
                        </div>
                        <div class="col-md-6 mb-2">
                            <strong>Correo:</strong> {{ tutor.usuario.email }}
                        </div>
                        <div class="col-md-6 mb-2">
                            <strong>Celular:</strong> {{ tutor.usuario.celular }}
                        </div>
                        
                        {% if tutor.usuario.telefono != None %}
                            <div class="col-md-6 mb-2">
                                <strong>Teléfono:</strong> {{ tutor.usuario.telefono }}
                            </div>
                        {% endif %}
                            
                        <div class="col-md-6 mb-2">
                            <strong>Programa Educativo:</strong> {{ tutor.programa_educativo }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}